/* line 14, ../../../app/stylesheets/partials/_base.sass */
.right {
  text-align: right;
}

/* line 17, ../../../app/stylesheets/partials/_base.sass */
.left {
  text-align: left;
}

/* line 20, ../../../app/stylesheets/partials/_base.sass */
.center {
  text-align: center;
}

/* line 23, ../../../app/stylesheets/partials/_base.sass */
.float-right {
  float: right;
}

/* line 26, ../../../app/stylesheets/partials/_base.sass */
.float-left {
  float: left;
}

/* line 29, ../../../app/stylesheets/partials/_base.sass */
.icon {
  width: 10px;
  height: 10px;
  margin: .05em;
}

/* line 16, ../../../app/stylesheets/partials/_boxes.sass */
.dialog {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: .25em;
  background: #c4aa5d;
}

/* line 20, ../../../app/stylesheets/partials/_boxes.sass */
.list {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: .25em;
  background: #f0f0f0;
  padding: .25em;
}

/* line 25, ../../../app/stylesheets/partials/_boxes.sass */
.button {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: .25em;
  background: gray;
  margin: .10em;
  text-decoration: none;
  padding: .5em .75em;
  color: white;
  font-size: .85em;
}

/* line 28, ../../../app/stylesheets/partials/_boxes.sass */
.button:hover {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: .25em;
  background: yellow;
  margin: .10em;
  text-decoration: none;
  padding: .5em .75em;
  color: black;
  font-size: .85em;
}

/* line 31, ../../../app/stylesheets/partials/_boxes.sass */
.green-button {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: .25em;
  background: green;
  margin: .10em;
  text-decoration: none;
  padding: .5em .75em;
  color: white;
  font-size: .85em;
}

/* line 34, ../../../app/stylesheets/partials/_boxes.sass */
.red-button {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: .25em;
  background: red;
  margin: .10em;
  text-decoration: none;
  padding: .5em .75em;
  color: white;
  font-size: .85em;
}

/* line 37, ../../../app/stylesheets/partials/_boxes.sass */
.yellow-button {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: .25em;
  background: yellow;
  margin: .10em;
  text-decoration: none;
  padding: .5em .75em;
  color: black;
  font-size: .85em;
}

/* line 141, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new ul, #user #new ol, #user #new legend, #user #new p, #user_session #new ul, #user_session #new ol, #user_session #new legend, #user_session #new p {
  margin: 0;
  padding: 0;
}
/* line 144, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new li, #user_session #new li {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 150, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new fieldset, #user_session #new fieldset {
  display: block;
  *display: inline-block;
}
/* line 98, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new fieldset:after, #user_session #new fieldset:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 154, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new abbr, #user #new acronym, #user_session #new abbr, #user_session #new acronym {
  border: 0;
  font-variant: normal;
  font-weight: normal;
}
/* line 159, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new ol, #user #new ul, #user_session #new ol, #user_session #new ul {
  list-style: none;
}
/* line 162, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new label, #user_session #new label {
  display: block;
  *display: inline-block;
}
/* line 98, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new label:after, #user_session #new label:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 166, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new input, #user #new textarea, #user_session #new input, #user_session #new textarea {
  vertical-align: middle;
}
/* line 170, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new .check_boxes input, #user #new .radio input, #user_session #new .check_boxes input, #user_session #new .radio input {
  margin: 0;
}
/* line 172, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new .check_boxes label, #user #new .radio label, #user_session #new .check_boxes label, #user_session #new .radio label {
  cursor: pointer;
}
/* line 175, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new .hidden, #user_session #new .hidden {
  display: none;
}
/* line 179, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new .date li, #user #new .time li, #user #new .datetime li, #user_session #new .date li, #user_session #new .time li, #user_session #new .datetime li {
  float: left;
  width: auto;
  clear: none;
}
/* line 183, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new .date label, #user #new .time label, #user #new .datetime label, #user_session #new .date label, #user_session #new .time label, #user_session #new .datetime label {
  display: none;
  width: auto;
}
/* line 186, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new .date input, #user #new .time input, #user #new .datetime input, #user_session #new .date input, #user_session #new .time input, #user_session #new .datetime input {
  display: inline;
  margin: 0;
  padding: 0;
}
/* line 191, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new .errors, #user_session #new .errors {
  list-style: square;
}
/* line 193, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new .errors li, #user_session #new .errors li {
  padding: 0;
  border: none;
  display: list-item;
  float: none;
  clear: both;
}
/* line 199, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new .inputs, #user_session #new .inputs {
  z-index: 99;
}
/* line 202, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new .buttons li, #user_session #new .buttons li {
  float: left;
}
/* line 205, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new li, #user_session #new li {
  *display: inline-block;
  display: block;
}
/* line 98, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new li:after, #user_session #new li:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 208, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new li fieldset, #user_session #new li fieldset {
  border: none;
  position: relative;
  margin-top: 0px;
}
/* line 212, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new li legend, #user_session #new li legend {
  display: block;
  margin-bottom: 0;
}
/* line 215, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new li .label, #user_session #new li .label {
  display: block;
  clear: both;
  background: transparent;
}
/* line 220, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new li ol, #user_session #new li ol {
  float: left;
  margin: 0;
}
/* line 223, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new li ol li, #user_session #new li ol li {
  padding: 0;
  border: 0;
  display: inline;
}
/* line 315, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new fieldset, #user_session #new fieldset {
  width: 300px;
}
/* line 317, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new label, #user_session #new label {
  float: left;
  width: 100px;
  text-align: left;
  padding-left: 0;
}
/* line 323, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new li ol, #user_session #new li ol {
  padding: 0 0px 0 100px;
}
/* line 326, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new li fieldset legend, #user #new li fieldset legend .label, #user_session #new li fieldset legend, #user_session #new li fieldset legend .label {
  display: block;
}
/* line 328, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new li fieldset legend, #user_session #new li fieldset legend {
  width: 100px;
  text-align: left;
  display: inline;
  float: left;
  clear: none;
  padding: 0;
  width: 300px;
}
/* line 331, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new li fieldset .label, #user_session #new li fieldset .label {
  position: absolute;
  width: 100px;
  top: 0px;
  left: 0;
}
/* line 339, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new li fieldset label, #user_session #new li fieldset label {
  padding-left: 0;
}
/* line 341, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new li fieldset label, #user #new li fieldset input, #user_session #new li fieldset label, #user_session #new li fieldset input {
  width: auto;
  display: inline;
  clear: none;
  text-align: left;
}
/* line 346, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new li fieldset select, #user_session #new li fieldset select {
  padding: 0;
  clear: both;
  display: block;
}
/* line 350, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new .inline-hints, #user #new .inline-errors, #user #new .errors, #user_session #new .inline-hints, #user_session #new .inline-errors, #user_session #new .errors {
  margin: 0 0 0 100px;
}
/* line 352, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new input, #user #new textarea, #user_session #new input, #user_session #new textarea {
  width: 200px;
}
/* line 354, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new select, #user_session #new select {
  width: auto;
}
/* line 360, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new .checkbox li, #user #new .radio li, #user_session #new .checkbox li, #user_session #new .radio li {
  display: block;
  clear: both;
}
/* line 363, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new .checkbox input, #user #new .radio input, #user_session #new .checkbox input, #user_session #new .radio input {
  border: none;
}
/* line 365, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new .buttons, #user_session #new .buttons {
  padding-left: 100px;
  width: 200px;
}
/* line 368, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new .buttons input, #user_session #new .buttons input {
  width: auto;
}
/* line 373, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new .buttons li, #user_session #new .buttons li {
  width: auto;
  float: left;
  display: inline;
}
/* line 384, ../../../app/stylesheets/partials/_formtastic_base.sass */
#user #new #errorExplanation, #user_session #new #errorExplanation {
  margin-left: 100px;
  width: 200px;
}
/* line 13, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form, #user_session #new form {
  margin: .1em;
  background: #eee;
  padding: .50em .1em;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: .25em;
}
/* line 20, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form li, #user_session #new form li {
  padding: 10px 0px;
}
/* line 23, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form li li, #user_session #new form li li {
  padding: 0;
}
/* line 28, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form fieldset, #user_session #new form fieldset {
  margin-top: 20px;
  border: none;
}
/* line 33, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form li fieldset, #user_session #new form li fieldset {
  padding: 0;
}
/* line 38, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form legend, #user #new form label, #user_session #new form legend, #user_session #new form label {
  color: #333;
}
/* line 41, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form label, #user #new form .label, #user_session #new form label, #user_session #new form .label {
  padding-bottom: 5px;
}
/* line 44, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form label abbr, #user #new form .label abbr, #user_session #new form label abbr, #user_session #new form .label abbr {
  color: #f00;
}
/* line 46, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form label, #user_session #new form label {
  line-height: 1.4em;
  font-size: 13px;
}
/* line 50, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form legend span, #user_session #new form legend span {
  font-size: 1.4em;
  line-height: 1em;
}
/* line 54, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form legend span.label, #user_session #new form legend span.label {
  font-size: 1em;
}
/* line 59, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form select, #user_session #new form select {
  padding: 3px;
}
/* line 62, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form textarea, #user_session #new form textarea {
  border: 1px solid #999;
  padding: 6px 8px;
  line-height: 100%;
}
/* line 67, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form input, #user_session #new form input {
  font-family: inherit;
  font-size: 14px;
}
/* line 71, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form input.text, #user #new form input.title, #user #new form input[type=text], #user #new form input[type=password], #user_session #new form input.text, #user_session #new form input.title, #user_session #new form input[type=text], #user_session #new form input[type=password] {
  border: 1px solid #999;
  padding: 6px 8px;
  line-height: 100%;
}
/* line 76, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form input.title, #user_session #new form input.title {
  font-size: 1.5em;
}
/* line 78, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form input[type=checkbox], #user #new form input.checkbox, #user_session #new form input[type=checkbox], #user_session #new form input.checkbox,
#user #new form input[type=radio], #user #new form input.radio, #user_session #new form input[type=radio], #user_session #new form input.radio {
  position: relative;
  top: 0em;
}
/* line 82, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form input[type=submit], #user_session #new form input[type=submit] {
  text-align: right;
}
/* line 85, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form input.text:focus, #user #new form input.title:focus, #user #new form input[type=text]:focus, #user #new form input[type=password]:focus, #user_session #new form input.text:focus, #user_session #new form input.title:focus, #user_session #new form input[type=text]:focus, #user_session #new form input[type=password]:focus {
  background: #FFFFCC;
}
/* line 91, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form .date li, #user #new form .time li, #user #new form .datetime li, #user_session #new form .date li, #user_session #new form .time li, #user_session #new form .datetime li {
  margin: 0 0.3em 0 0;
}
/* line 99, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form #errorExplanation li, #user_session #new form #errorExplanation li {
  margin-left: 15px;
}
/* line 101, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form form p, #user #new form .errors, #user_session #new form form p, #user_session #new form .errors {
  padding: 3px 0px;
}
/* line 104, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form .required input, #user #new form .required textarea, #user #new form .required select, #user_session #new form .required input, #user_session #new form .required textarea, #user_session #new form .required select {
  background-color: #fff;
}
/* line 107, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form .error input, #user #new form .error textarea, #user #new form .error select, #user_session #new form .error input, #user_session #new form .error textarea, #user_session #new form .error select {
  background-color: #fcc;
  border: 1px solid #f66;
}
/* line 111, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form .optional input, #user #new form .optional textarea, #user #new form .optional select, #user_session #new form .optional input, #user_session #new form .optional textarea, #user_session #new form .optional select {
  background-color: #fff;
}
/* line 113, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form .errors, #user_session #new form .errors {
  color: #a00;
}
/* line 115, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form .errors li, #user_session #new form .errors li {
  margin-left: 1.2em;
}
/* line 117, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form p.inline-errors, #user_session #new form p.inline-errors {
  color: #f00;
}
/* line 119, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form p.inline-hints, #user_session #new form p.inline-hints {
  color: #777;
}
/* line 122, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form .fieldWithErrors, #user_session #new form .fieldWithErrors {
  background: #CC6666;
  padding: .75em .2em;
  background: #CCCCCC;
}
/* line 127, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form .fieldWithErrors input, #user_session #new form .fieldWithErrors input {
  border: 1px solid red;
}
/* line 130, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form #errorExplanation, #user_session #new form #errorExplanation {
  width: 90%;
  border: 2px solid #CF0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 137, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form #errorExplanation h2, #user_session #new form #errorExplanation h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  background-color: #c00;
  color: #fff;
}
/* line 146, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form #errorExplanation p, #user_session #new form #errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}
/* line 150, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form #errorExplanation ul, #user_session #new form #errorExplanation ul {
  margin: 2px 24px;
}
/* line 152, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form #errorExplanation ul li, #user_session #new form #errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
/* line 159, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form fieldset.buttons, #user_session #new form fieldset.buttons {
  max-width: 150px;
  overflow: hidden;
}
/* line 163, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form fieldset.buttons .commit, #user_session #new form fieldset.buttons .commit {
  display: inline;
  float: right;
}
/* line 165, ../../../app/stylesheets/partials/_skintastic.sass */
#user #new form fieldset.buttons .commit input, #user_session #new form fieldset.buttons .commit input {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: .25em;
  background: green;
  margin: .10em;
  text-decoration: none;
  padding: .5em .75em;
  color: white;
  font-size: .85em;
  text-align: right;
}

/* line 1, ../../../app/stylesheets/partials/_textbox.sass */
.textboxlist {
  font: 11px "Lucida Grande", Verdana;
  cursor: text;
  width: 400px;
}

/* line 6, ../../../app/stylesheets/partials/_textbox.sass */
.textboxlist-bits {
  zoom: 1;
  overflow: hidden;
  margin: 0;
  padding: 0px;
  *padding-bottom: 3px;
}

/* line 13, ../../../app/stylesheets/partials/_textbox.sass */
.textboxlist-bit {
  list-style-type: none;
  float: left;
  display: block;
  padding: 0;
  cursor: default;
  margin: 0px 3px;
}

/* line 21, ../../../app/stylesheets/partials/_textbox.sass */
.textboxlist-bit-editable-input {
  border: 0;
  padding: 2px 0;
  *padding-bottom: 0;
  height: 14px;
  font: 11px "Lucida Grande", Verdana;
}
/* line 27, ../../../app/stylesheets/partials/_textbox.sass */
.textboxlist-bit-editable-input:focus {
  outline: 0;
}

/* line 30, ../../../app/stylesheets/partials/_textbox.sass */
.textboxlist-bit-box {
  position: relative;
  line-height: 18px;
  padding: 0 5px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  border: 1px solid #cad8f3;
  background: #dee7f8;
  cursor: default;
}

/* line 41, ../../../app/stylesheets/partials/_textbox.sass */
.textboxlist-bit-box-deletable {
  padding-right: 15px;
}

/* line 44, ../../../app/stylesheets/partials/_textbox.sass */
.textboxlist-bit-box-deletebutton {
  position: absolute;
  right: 4px;
  top: 6px;
  display: block;
  width: 7px;
  height: 7px;
  font-size: 1px;
  background: url('/images/close.gif');
}
/* line 53, ../../../app/stylesheets/partials/_textbox.sass */
.textboxlist-bit-box-deletebutton:hover {
  border: none;
  background-position: 7px;
  text-decoration: none;
}

/* line 58, ../../../app/stylesheets/partials/_textbox.sass */
.textboxlist-bit-box-hover {
  background: #bbcef1;
  border: 1px solid #6d95e0;
}

/* line 62, ../../../app/stylesheets/partials/_textbox.sass */
.textboxlist-bit-box-focus {
  border-color: #598bec;
  background: #598bec;
  color: white;
}
/* line 66, ../../../app/stylesheets/partials/_textbox.sass */
.textboxlist-bit-box-focus .textboxlist-bit-box-deletebutton {
  background-position: bottom;
}

/* line 1, ../../../app/stylesheets/partials/_textbox.autocomplete.sass */
.textboxlist-autocomplete {
  position: absolute;
}

/* line 4, ../../../app/stylesheets/partials/_textbox.autocomplete.sass */
.textboxlist-autocomplete-placeholder, .textboxlist-autocomplete-results {
  opacity: 0.9;
  filter: alpha(opacity = 90);
  background: #eeeeee;
  -webkit-box-shadow: 0 3px 3px #cccccc;
  -moz-box-shadow: 0 3px 3px #cccccc;
  box-shadow: 0 3px 3px #cccccc;
  border: 1px solid #999999;
  border-top: none;
  display: none;
}

/* line 15, ../../../app/stylesheets/partials/_textbox.autocomplete.sass */
.textboxlist-autocomplete-placeholder {
  padding: 5px 7px;
}

/* line 18, ../../../app/stylesheets/partials/_textbox.autocomplete.sass */
.textboxlist-autocomplete-results {
  margin: 0;
  padding: 0;
}

/* line 22, ../../../app/stylesheets/partials/_textbox.autocomplete.sass */
.textboxlist-autocomplete-result {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  background: #eeeeee;
}

/* line 28, ../../../app/stylesheets/partials/_textbox.autocomplete.sass */
.textboxlist-autocomplete-result-focus {
  background: #c6d9e4;
}

/* line 31, ../../../app/stylesheets/partials/_textbox.autocomplete.sass */
.textboxlist-autocomplete-highlight {
  background: #eef0c4;
  font-weight: bold;
}

/* line 1, ../../../app/stylesheets/partials/_facebox.sass */
#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}
/* line 2, ../../../app/stylesheets/partials/_facebox.sass */
#facebox .b {
  background: url(/images/facebox/b.png);
}
/* line 4, ../../../app/stylesheets/partials/_facebox.sass */
#facebox .tl {
  background: url(/images/facebox/tl.png);
}
/* line 6, ../../../app/stylesheets/partials/_facebox.sass */
#facebox .tr {
  background: url(/images/facebox/tr.png);
}
/* line 8, ../../../app/stylesheets/partials/_facebox.sass */
#facebox .bl {
  background: url(/images/facebox/bl.png);
}
/* line 10, ../../../app/stylesheets/partials/_facebox.sass */
#facebox .br {
  background: url(/images/facebox/br.png);
}
/* line 17, ../../../app/stylesheets/partials/_facebox.sass */
#facebox .popup {
  position: relative;
}
/* line 19, ../../../app/stylesheets/partials/_facebox.sass */
#facebox table {
  border-collapse: collapse;
}
/* line 21, ../../../app/stylesheets/partials/_facebox.sass */
#facebox td {
  border-bottom: 0;
  padding: 0;
}
/* line 24, ../../../app/stylesheets/partials/_facebox.sass */
#facebox .body {
  padding: 10px;
  background: white;
  width: 370px;
}
/* line 28, ../../../app/stylesheets/partials/_facebox.sass */
#facebox .loading, #facebox .image {
  text-align: center;
}
/* line 30, ../../../app/stylesheets/partials/_facebox.sass */
#facebox img {
  border: 0;
  margin: 0;
}
/* line 33, ../../../app/stylesheets/partials/_facebox.sass */
#facebox .footer {
  border-top: 1px solid #dddddd;
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
}
/* line 38, ../../../app/stylesheets/partials/_facebox.sass */
#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

/* line 44, ../../../app/stylesheets/partials/_facebox.sass */
#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

/* line 51, ../../../app/stylesheets/partials/_facebox.sass */
.facebox_hide {
  z-index: -100;
}

/* line 54, ../../../app/stylesheets/partials/_facebox.sass */
.facebox_overlayBG {
  background-color: black;
  z-index: 99;
}

/* line 58, ../../../app/stylesheets/partials/_facebox.sass */
* html #facebox_overlay {
  /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

/* line 2, ../../../app/stylesheets/partials/_todos.sass */
#todo #new {
  display: none;
  padding: 1em;
}
/* line 6, ../../../app/stylesheets/partials/_todos.sass */
#todo #new p {
  margin: .15em;
  padding: .15em;
}
/* line 12, ../../../app/stylesheets/partials/_todos.sass */
#todo #new form input.text, #todo #new form input.title, #todo #new form input[type=text], #todo #new form input[type=password] {
  width: 90%;
  border: 1px solid #999;
  padding: 6px 8px;
  line-height: 100%;
}
/* line 18, ../../../app/stylesheets/partials/_todos.sass */
#todo #new form .fieldWithErrors {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 30, ../../../../../.rvm/gems/ruby-1.9.1-p378@todo/gems/compass-0.10.0.rc1/frameworks/blueprint/stylesheets/blueprint/_interaction.sass */
#todo #new form .fieldWithErrors a {
  color: #8a1f11;
}
/* line 21, ../../../app/stylesheets/partials/_todos.sass */
#todo #please_wait {
  margin: 2em auto;
}
/* line 25, ../../../app/stylesheets/partials/_todos.sass */
#todo #index #not_complete {
  margin-top: 1em;
}
/* line 28, ../../../app/stylesheets/partials/_todos.sass */
#todo #index #not_complete h2 {
  font-size: 1.15em;
  margin: 1em 0em .25em 0em;
}
/* line 32, ../../../app/stylesheets/partials/_todos.sass */
#todo #index #not_complete h2 a {
  color: black;
}
/* line 35, ../../../app/stylesheets/partials/_todos.sass */
#todo #index #not_complete .todo {
  overflow: hidden;
}
/* line 38, ../../../app/stylesheets/partials/_todos.sass */
#todo #index #not_complete .todo .col {
  padding-right: 5px;
  display: inline;
  float: left;
}
/* line 42, ../../../app/stylesheets/partials/_todos.sass */
#todo #index #not_complete .todo .col_cb {
  width: 20px;
}
/* line 45, ../../../app/stylesheets/partials/_todos.sass */
#todo #index #not_complete .todo .col_label {
  padding-right: 15px;
}
/* line 48, ../../../app/stylesheets/partials/_todos.sass */
#todo #index #not_complete .todo .due_date {
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
  font-size: 1.15em;
  font-size: .95em;
  color: #666;
}
/* line 53, ../../../app/stylesheets/partials/_todos.sass */
#todo #index #not_complete .todo .due_date_past_due {
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
  font-size: 1.15em;
  color: red;
  padding-right: 15px;
}
/* line 60, ../../../app/stylesheets/partials/_todos.sass */
#todo #index #not_complete .todo .col_tags .tags .tag {
  font-size: 10px;
  color: #666;
  display: block;
  float: left;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 2px;
  margin-top: 0px;
  text-decoration: none;
  height: 16px;
  background: url(/images/tag.gif) center left no-repeat;
  border-right: 1px solid #c2c1c1;
  cursor: pointer;
}
/* line 77, ../../../app/stylesheets/partials/_todos.sass */
#todo #index #completed h2 {
  font-size: 1em;
  margin: 1em 0em .25em 0em;
}
/* line 81, ../../../app/stylesheets/partials/_todos.sass */
#todo #index #completed h2 a {
  color: black;
}
/* line 84, ../../../app/stylesheets/partials/_todos.sass */
#todo #index #completed .completed {
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
  font-size: 1.15em;
}
/* line 86, ../../../app/stylesheets/partials/_todos.sass */
#todo #index #completed .completed .completed_at, #todo #index #completed .completed .completed_by {
  color: gray;
}
/* line 90, ../../../app/stylesheets/partials/_todos.sass */
#todo #index #completed .completed .label a {
  text-decoration: none;
  color: black;
}
/* line 94, ../../../app/stylesheets/partials/_todos.sass */
#todo #docs {
  font-size: .90em;
  color: #666;
  text-align: center;
  margin-top: 6em;
}
/* line 99, ../../../app/stylesheets/partials/_todos.sass */
#todo #docs .sc {
  display: inline;
  padding-right: 1em;
}
/* line 103, ../../../app/stylesheets/partials/_todos.sass */
#todo #docs .sc a {
  color: #333;
}

/* line 106, ../../../app/stylesheets/partials/_todos.sass */
#tagGroupMenu {
  margin: 1em;
  float: left;
}
/* line 109, ../../../app/stylesheets/partials/_todos.sass */
#tagGroupMenu ul {
  padding: 0px;
  margin: 1em 1em;
}
/* line 112, ../../../app/stylesheets/partials/_todos.sass */
#tagGroupMenu li {
  font-size: 11px;
  width: 99%;
  padding: 1px 0px;
  margin: 0px 0px;
  list-style: none;
}

/* line 3, ../../../app/stylesheets/partials/_notes.sass */
#notes #index .note, #notes #list .note {
  border-top: 1px dotted gray;
  padding: 1em 0em;
  margin: 1em 0em;
}
/* line 8, ../../../app/stylesheets/partials/_notes.sass */
#notes #index .note .row, #notes #list .note .row {
  overflow: hidden;
}
/* line 11, ../../../app/stylesheets/partials/_notes.sass */
#notes #index .note .row .created_at, #notes #index .note .row .user, #notes #list .note .row .created_at, #notes #list .note .row .user {
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
  font-size: 1.15em;
  color: gray;
  font-size: .90em;
  display: inline;
  float: left;
}
/* line 17, ../../../app/stylesheets/partials/_notes.sass */
#notes #index .note .row .user, #notes #list .note .row .user {
  display: inline;
  float: right;
}
/* line 20, ../../../app/stylesheets/partials/_notes.sass */
#notes #index .note .row .trash, #notes #list .note .row .trash {
  display: inline;
  float: right;
  padding-left: 5px;
}
/* line 25, ../../../app/stylesheets/partials/_notes.sass */
#notes #index .note .body, #notes #list .note .body {
  padding: .5em;
}
/* line 29, ../../../app/stylesheets/partials/_notes.sass */
#notes #list .note {
  color: white;
  border-top: 1px dotted gray;
  border-bottom: 1px dotted gray;
}

/* line 1, ../../../app/stylesheets/partials/_histories.sass */
#history {
  overflow: auto;
  height: 8em;
  font-size: .90em;
  margin-top: 1em;
  border-top: 1px solid gray;
  padding-top: .5em;
}
/* line 9, ../../../app/stylesheets/partials/_histories.sass */
#history p {
  margin-top: 0px;
}
/* line 13, ../../../app/stylesheets/partials/_histories.sass */
#history .history .row {
  overflow: hidden;
}
/* line 16, ../../../app/stylesheets/partials/_histories.sass */
#history .history .row .created_at, #history .history .row .user, #history .history .row .event {
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
  font-size: 1.15em;
  color: gray;
  display: inline;
  float: left;
  padding-right: .20em;
}

/* line 18, ../../../app/stylesheets/public.sass */
html, body {
  margin: 0px;
  padding: 0px .20em;
}

/* line 22, ../../../app/stylesheets/public.sass */
body {
  background-color: white;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  width: 99%;
}

/* line 29, ../../../app/stylesheets/public.sass */
a {
  color: #0000FF;
}
/* line 31, ../../../app/stylesheets/public.sass */
a img {
  border: none;
}

/* line 34, ../../../app/stylesheets/public.sass */
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* line 39, ../../../app/stylesheets/public.sass */
.labelHighlight {
  color: #999999;
  text-align: right;
}

/* line 43, ../../../app/stylesheets/public.sass */
#toolbar {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: .25em;
  background: #97afae;
  padding: .25em;
}
/* line 48, ../../../app/stylesheets/public.sass */
#toolbar table {
  width: 100%;
}
/* line 51, ../../../app/stylesheets/public.sass */
#toolbar table td.left {
  text-align: left;
  width: 100px;
}
/* line 55, ../../../app/stylesheets/public.sass */
#toolbar table td.please_wait {
  width: 1.75em;
  text-align: left;
}
/* line 58, ../../../app/stylesheets/public.sass */
#toolbar table td.please_wait img {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: .25em;
  margin: 0;
  padding: 0;
  width: 1.5em;
  height: 1.5em;
}
/* line 66, ../../../app/stylesheets/public.sass */
#toolbar table td.center h1 {
  color: #FFFFFF;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 74, ../../../app/stylesheets/public.sass */
#toolbar table td.center .button {
  display: inline;
  float: right;
}
/* line 77, ../../../app/stylesheets/public.sass */
#toolbar table td.right {
  width: 100px;
}

/* line 82, ../../../app/stylesheets/public.sass */
#container {
  background: #fff;
  margin: 0px;
}

/* line 86, ../../../app/stylesheets/public.sass */
#flash_messages {
  margin: 1em .50em;
}
/* line 89, ../../../app/stylesheets/public.sass */
#flash_messages .notice, #flash_messages .error {
  padding: 5px 8px;
  margin: 10px 0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: .25em;
}
/* line 94, ../../../app/stylesheets/public.sass */
#flash_messages .notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
/* line 98, ../../../app/stylesheets/public.sass */
#flash_messages .error {
  background-color: #FCC;
  border: solid 1px #C66;
}
