/*
Syntax error: Invalid CSS after "(": expected ")", was "!blueprint_grid..."
        on line 30 of /Users/jlippiner/Projects/todopia/app/stylesheets/screen.sass

25: // Page layout can be done using mixins applied to your semantic classes and IDs:
26: body.three-col
27:   #container
28:     +container
29:   #header, #footer
30:     +column(!blueprint_grid_columns)
31:   #sidebar
32:     // One third of the grid columns, rounding down. With 24 cols, this is 8.
33:     !sidebar_columns = floor(!blueprint_grid_columns / 3)
34:     +column(!sidebar_columns)
35:   #content

Backtrace:
/Users/jlippiner/Projects/todopia/app/stylesheets/screen.sass:30
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/scss/parser.rb:898:in `expected'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/script/lexer.rb:193:in `expected!'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/script/parser.rb:448:in `assert_tok'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/script/parser.rb:85:in `parse_mixin_include_arglist'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/engine.rb:787:in `parse_mixin_include'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/engine.rb:551:in `parse_line'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/engine.rb:447:in `build_tree'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/engine.rb:466:in `block in append_children'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/engine.rb:465:in `each'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/engine.rb:465:in `append_children'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/engine.rb:456:in `block in build_tree'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/engine.rb:449:in `each'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/engine.rb:449:in `build_tree'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/engine.rb:466:in `block in append_children'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/engine.rb:465:in `each'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/engine.rb:465:in `append_children'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/engine.rb:456:in `block in build_tree'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/engine.rb:449:in `each'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/engine.rb:449:in `build_tree'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/engine.rb:466:in `block in append_children'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/engine.rb:465:in `each'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/engine.rb:465:in `append_children'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/engine.rb:322:in `_to_tree'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/engine.rb:291:in `_render'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/engine.rb:239:in `block in render'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/util.rb:297:in `silence_sass_warnings'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/engine.rb:239:in `render'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:175:in `each'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:173:in `each'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/sass-3.1.4/lib/sass/plugin/rack.rb:51:in `call'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/actionpack-2.3.11/lib/action_controller/string_coercion.rb:25:in `call'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/rack-1.1.2/lib/rack/head.rb:9:in `call'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/rack-1.1.2/lib/rack/methodoverride.rb:24:in `call'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/actionpack-2.3.11/lib/action_controller/params_parser.rb:15:in `call'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/actionpack-2.3.11/lib/action_controller/session/cookie_store.rb:99:in `call'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/hoptoad_notifier-2.4.11/lib/hoptoad_notifier/rack.rb:27:in `call'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/actionpack-2.3.11/lib/action_controller/failsafe.rb:26:in `call'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/hoptoad_notifier-2.4.11/lib/hoptoad_notifier/user_informer.rb:12:in `call'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/rack-1.1.2/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/rack-1.1.2/lib/rack/lock.rb:11:in `call'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/actionpack-2.3.11/lib/action_controller/dispatcher.rb:114:in `block in call'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/actionpack-2.3.11/lib/action_controller/reloader.rb:34:in `run'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/actionpack-2.3.11/lib/action_controller/dispatcher.rb:108:in `call'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/rails-2.3.11/lib/rails/rack/static.rb:31:in `call'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/rack-1.1.2/lib/rack/urlmap.rb:47:in `block in call'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/rack-1.1.2/lib/rack/urlmap.rb:41:in `each'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/rack-1.1.2/lib/rack/urlmap.rb:41:in `call'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/rails-2.3.11/lib/rails/rack/debugger.rb:19:in `call'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/rails-2.3.11/lib/rails/rack/log_tailer.rb:17:in `call'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/rack-1.1.2/lib/rack/content_length.rb:13:in `call'
/Users/jlippiner/.rvm/gems/ruby-1.9.2-p180@todopia/gems/rack-1.1.2/lib/rack/handler/webrick.rb:48:in `service'
/Users/jlippiner/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:111:in `service'
/Users/jlippiner/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/httpserver.rb:70:in `run'
/Users/jlippiner/.rvm/rubies/ruby-1.9.2-p180/lib/ruby/1.9.1/webrick/server.rb:183:in `block in start_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"(\": expected \")\", was \"!blueprint_grid...\"\A         on line 30 of /Users/jlippiner/Projects/todopia/app/stylesheets/screen.sass\A \A 25: // Page layout can be done using mixins applied to your semantic classes and IDs:\A 26: body.three-col\A 27:   #container\A 28:     +container\A 29:   #header, #footer\A 30:     +column(!blueprint_grid_columns)\A 31:   #sidebar\A 32:     // One third of the grid columns, rounding down. With 24 cols, this is 8.\A 33:     !sidebar_columns = floor(!blueprint_grid_columns / 3)\A 34:     +column(!sidebar_columns)\A 35:   #content"; }
