#notes
  #new
  
  #index
    .note
      border-top: 1px dotted gray
      padding: 1em 0em
      margin: 1em 0em
      
      .row
        overflow: hidden
        
        .created_at, .user
          +alt
          color: gray
          font-size: .90em
          +float-left
          
        .user
          +float-right
          
        .trash
          +float-right
          padding-left: 5px        
          
      .body
        padding: .5em
          
        