.slide-panel
  z-index: 25
  width: 5px
  position: absolute

.slide-panel-content
  margin-left: auto
  margin-right: auto
  z-index: 10
  overflow: hidden
  text-align: left
  background-color: #343434
  height: 0
  width: 100%
  color: white
  filter: alpha(opacity=75)
  -khtml-opacity: 0.75
  -moz-opacity: 0.75
  opacity: 0.75
  border-top: 1px solid black
  
  table
    margin: .5em auto
    width: 95%
    
    tr > td
      text-align: center

      a > img
        width: 72px
        height: 72px

.slide-button
  margin-left: auto
  margin-right: auto
  position: relative
  width: 150px
  z-index: 20
  cursor: pointer
  height: 30px
  padding-top: 10px
  text-align: center
  background-color: #343434
  color: white
  top: 2px
  border-top-right-radius: 5px
  border-top-left-radius: 5px
  -moz-border-radius-topleft: 5px
  -webkit-border-radius-top-left: 5px
  -moz-border-radius-topright: 5px
  -webkit-border-radius-top-right: 5px

.slide-bottom
  bottom: 0

.slide-left
  position: absolute
  left: 0

.slide-top
  top: 0

