#todo
  #new
    display: none
    padding: 1em
    
    p
      margin: .15em
      padding: .15em
    
    form    
      input
        &.text, &.title, &[type=text], &[type=password]
          :width 90%
          :border 1px solid #999
          :padding 6px 8px
          :line-height 100%
          
      .fieldWithErrors
        +error

  #please_wait
    margin: 2em auto

  #index
    #not_complete
      margin-top: 1em
      
      h2
        font-size: 1.15em
        margin: 1em 0em .25em 0em
        
        a
          color: black
      
      .todo
        overflow: hidden

        .col
          padding-right: 5px
          +float-left
        
        .col_cb
          width: 20px
      
        .col_label
          padding-right: 15px

        .due_date
          +alt
          font-size: .95em
          color: #666
          
        .due_date_past_due
          +alt
          color: red
          padding-right: 15px
          
        .col_tags
          .tags
            .tag
              font-size: 10px
              color: #666
              display: block
              float: left
              padding-left: 20px
              padding-right: 10px
              padding-top: 2px
              margin-top: 0px
              text-decoration: none
              height: 16px
              background: url(/images/tag.gif) center left no-repeat
              border-right: 1px solid #c2c1c1
              cursor: pointer
              

    #completed
      h2
        font-size: 1em
        margin: 1em 0em .25em 0em
        
        a
          color: black
        
      .completed
        +alt
        .completed_at, .completed_by
          color: gray
        
        .label
          a
            text-decoration: none
            color: black
            
  #docs
    font-size: .90em
    color: #666
    text-align: center
    margin-top: 6em
    .sc
      display: inline
      padding-right: 1em
      
      a
        color: #333
        
      a[rel=toggle]
        color: blue
        
    #more_keyboard
      margin-top: .5em

#tagGroupMenu
  margin: 1em
  float: left
  ul
    padding: 0px
    margin: 1em 1em
  li
    font-size: 11px
    width: 99%
    padding: 1px 0px
    margin: 0px 0px
    list-style: none
