%ul#tagGroupMenu.contextMenu
  %li.check_all
    %a{ :href => "#check_all" }
      Check All
  %li.print
    %a{ :href => "#print" }
      Print
  %li.ungroup
    %a{ :href => "#ungroup" }
      Ungroup
  %li.rename
    %a{ :href => "#rename" }
      Rename
  %li.delete
    %a{ :href => "#delete" }
      Delete
      
%ul#unfiledGroupMenu.contextMenu
  %li.check_all
    %a{ :href => "#check_unfiled" }
      Check All
  %li.print
    %a{ :href => "#print" }
      Print
  %li.delete
    %a{ :href => "#delete_unfiled" }
      Delete