- form_for (@todo.new_record? ? [@user, @todo] : @todo) do |f|
  %p.add_todo
    = f.text_field :label, {:title => '+ Add new todo', :size => 60}
  %p.add_tags
    = f.text_field :tag_string, {:size => 60}
  .right
    = image_tag "spinner.gif", :title => "please wait...", :class => "spinner"
    = f.submit "Submit"
