- title "Note"

%p
  %strong User:
  =h @note.user_id
%p
  %strong Todo:
  =h @note.todo_id
%p
  %strong Body:
  =h @note.body
%p
  %strong Notable:
  =h @note.notable

%p
  = link_to "Edit", edit_note_path(@note)
  |
  = link_to "Destroy", @note, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", notes_path
